html, body {
    height: 100%; /* Hacer que el html y el body ocupen el 100% de la altura */
    margin: 0; /* Eliminar márgenes */
}

body {
    background-color: #FFFFFF; /* Fondo blanco */
    color: #2B2B2B; /* Texto gris oscuro */
    font-family: 'Arial', sans-serif;
    display: flex; /* Usar Flexbox para organizar la página */
    flex-direction: column; /* Apilar los elementos verticalmente */
}

header {
    background-color: #1E3A78; /* Azul marino para el encabezado */
    padding: 20px 0;
}

nav .nav-link {
    color: white; /* Texto blanco en los enlaces */
}

nav .nav-link:hover {
    text-decoration: underline; /* Subrayado en hover */
}

h1 {
    color: #ffffff; /* Cian para encabezados */
}

h2 {
    color: #1E3A78; /* Azul marino para los subtítulos */
}

.container {
    flex: 1; /* Permitir que el contenedor principal ocupe el espacio restante */
    margin-top: 20px;
}

.card {
    background-color: #ffffff; /* Fondo blanco para las tarjetas */
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 20px; /* Espacio inferior para separación */
}

.btn-primary {
    background-color: #00BFFF; /* Cian para botones */
    border-color: #00BFFF; /* Bordes de botón */
}

.btn-primary:hover {
    background-color: #0056b3; /* Azul oscuro en hover */
    border-color: #0056b3; /* Bordes de botón en hover */
}

footer {
    background-color: #F4F4F4; /* Fondo gris claro para el pie de página */
    color: #2B2B2B; /* Texto gris oscuro en el pie de página */
    padding: 20px 0; /* Espaciado en el pie de página */
}

p {
    font-size: 1.1em; /* Aumentar el tamaño de la fuente para mejor legibilidad */
}

.features {
    background-color: #F4F4F4; /* Fondo gris claro para la sección de características */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
}

/* Estilos específicos para sala.html */
.sala-container {
    background-color: #f8f9fa; /* Fondo suave */
}

.sala-title {
    color: #0056b3; /* Verde para el título */
}

.sala-card {
    background-color: #ffffff; /* Blanco para las tarjetas */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.btn-leave {
    margin-top: 20px;
    background-color: #dc3545; /* Rojo para el botón de dejar partida */
    color: white;
}

.btn-start {
    margin-top: 20px;
    background-color: #28a745; /* Verde para el botón de iniciar */
    color: white;
}
